<%= link_to "Home", root_path %>
<%= form_for @movie do |m| %>

    <% if @movie.errors.any? %>
        <div>
            <p>Errors:</p>
            <ul>
            <%= @movie.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>   
        </div>

    <% end %>
  <%= m.label :title  %>
  <%= m.text_field :title %>

  <%= m.label :description %>
  <%= m.text_field :description %>

  <%= m.label :year_released %>
  <%= m.text_field :year_released %>

  <%= m.label :rating %>
  <%= m.text_field :rating %>

  <%= m.submit %>

<% end %>

